/* Template Name: Modenta - Multipurpose Templates
   Author: Shreethemes
   Version: 1.0.0
   Created: May 2019
   File Description: Main Css file of the template
*/
/**********************************/
/*            INDEX               */
/*==================================
 *       01.  Variables            *
 *       02.  General              *
 *       03.  Helper               *
 *       04.  Button               *
 *       05.  Menu                 *
 *       06.  Small Menu           *
 *       07.  Tagline              *
 *       08.  Title                *
 *       09.  Loader               *
 *       10.  Home                 *
 *       11.  Feature              *
 *       12.  About                *
 *       13.  Counter              *
 *       14.  Services             *
 *       15.  Portfolio            *
 *       16.  Testimonial          *
 *       17.  Workprocess          *
 *       18.  Price                *
 *       19.  CTA                  *
 *       20.  Team                 *
 *       21.  Blog                 *
 *       22.  Back To Home         *
 *       23.  FAQ                  *
 *       24.  BMI(GYM)             *
 *       25.  Timeline             *
 *       26.  Comingsoon           *
 *       27.  Shop                 *
 *       28.  Elements             *
 *       29.  Bootsrap custom      *
 *       30.  Contact              *
 *       31.  Footer               *
 ==================================*/
@import url("https://fonts.googleapis.com/css?family=Crete+Round:400i|Lato|Muli:400,600,700");
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  color: #4e4a4a;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Muli", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

::-moz-selection {
  background: #86bc42;
  color: #ffffff;
}

::selection {
  background: #86bc42;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  letter-spacing: 0.03em;
  line-height: 1.8;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section-2 {
  padding: 50px 0;
  position: relative;
}

.bg-overlay {
  background-color: rgba(37, 41, 52, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.small, small {
  font-size: 90%;
  font-weight: 400;
}

.text-custom {
  color: #86bc42;
}

.bg-custom {
  background-color: #86bc42;
}

.bg-navy {
  background-color: #1b263a;
}

.letter-10 {
  letter-spacing: 1px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
  .section {
    padding: 50px 0;
  }
}

.btn, .btn-sm, .btn-sm {
  padding: 9px 20px;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-circle, .btn-sqaure {
  padding: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.btn-sqaure {
  border-radius: 0;
}

.btn-nav {
  padding: 9px 25px;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 10px;
}

.btn-lg {
  padding: 11px 22px;
  font-size: 16px;
}

.btn-custom {
  color: #ffffff;
  background: #86bc42;
  border: 0px;
  border: 1px solid #86bc42;
  font-weight: 500;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus {
  border-color: #4e4a4a;
  background-color: #4e4a4a;
  color: #ffffff;
}

.btn-custom-white {
  border: 1px solid #ffffff !important;
  background-color: transparent;
  color: #ffffff;
}

.btn-custom-white:hover, .btn-custom-white:focus, .btn-custom-white:active, .btn-custom-white.active, .btn-custom-white.focus {
  border-color: #86bc42;
  background-color: #ffffff;
  color: #86bc42;
}

.btn-outline-white {
  border: 1px solid #86bc42 !important;
  background-color: transparent;
  color: #86bc42;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white.active, .btn-outline-white.focus {
  border-color: #86bc42;
  background-color: #86bc42;
  color: #ffffff;
}

.btn, button, .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #1A71DB;
}

.btn-secondary {
  background-color: #78768E;
}

.btn-success {
  background-color: #027C00;
}

.btn-danger {
  background-color: #D61929;
}

.btn-warning {
  background-color: #E0BF2F;
}

.btn-info {
  background-color: #10A7C9;
}

.btn-light {
  background-color: #f9f9f9;
  color: #4e4a4a;
}

.btn-dark {
  background-color: #3d4044;
  color: #f9f9f9;
}

.btn-primary:hover, .btn-outline-primary:hover, .btn-secondary:hover, .btn-outline-secondary:hover, .btn-warning:hover, .btn-outline-warning:hover, .btn-danger:hover, .btn-outline-danger:hover, .btn-success:hover, .btn-outline-success:hover {
  color: #ffffff;
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #1A71DB;
  border-color: #1A71DB;
}

.btn-secondary:hover, .btn-outline-secondary:hover {
  background-color: #78768E;
  border-color: #78768E;
}

.btn-success:hover, .btn-outline-success:hover {
  background-color: #027C00;
  border-color: #027C00;
}

.btn-danger:hover, .btn-outline-danger:hover {
  background-color: #D61929;
  border-color: #D61929;
}

.btn-warning:hover, .btn-outline-warning:hover {
  background-color: #E0BF2F;
  border-color: #E0BF2F;
}

.btn-info:hover, .btn-outline-info:hover {
  background-color: #10A7C9;
  border-color: #10A7C9;
}

.btn-light, .btn-outline-light {
  color: #4e4a4a;
}

.btn-light:hover, .btn-outline-light:hover {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn-label {
  position: relative;
  padding-left: 52px;
  overflow: hidden;
}

.btn-label span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.btn-facebook, .btn-twitter, .btn-dribbble, .btn-instagram, .btn-vimeo {
  color: #ffffff;
}

.btn-facebook:hover, .btn-twitter:hover, .btn-dribbble:hover, .btn-instagram:hover, .btn-vimeo:hover {
  background-color: #ffffff;
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #3b5998;
}

.btn-twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn-twitter:hover {
  color: #1da1f2;
}

.btn-dribbble {
  background-color: #ea4c89;
  border-color: #ea4c89;
}

.btn-dribbble:hover {
  color: #ea4c89;
}

.btn-instagram {
  background-color: #cf328c;
  border-color: #cf328c;
}

.btn-instagram:hover {
  color: #cf328c;
}

.btn-vimeo {
  background-color: #00adef;
  border-color: #00adef;
}

.btn-vimeo:hover {
  color: #00adef;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
  font-family: "Lato", sans-serif;
}

#topnav .navigation-menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu > li {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px;
}

#topnav .navigation-menu > li > a {
  display: block;
  font-size: 12px;
  color: #4e4a4a;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-left: 10px;
  padding-right: 15px;
}

#topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:focus {
  background-color: rgba(255, 255, 255, 0);
}

#topnav .navigation-menu > li:last-of-type > a {
  padding-right: 0;
}

#topnav .navigation-menu > li .submenu li a i {
  margin-right: 10px;
  font-size: 14px;
}

#topnav .navigation-menu > li .submenu li a b {
  margin-right: 10px;
}

#topnav .navigation-menu > li .submenu li ul {
  list-style: none;
  padding-left: 0;
}

#topnav .logo {
  float: left;
  line-height: 68px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #4e4a4a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

#topnav .menu-extras {
  float: right;
}

#topnav .has-submenu {
  position: relative;
}

#topnav .has-submenu .submenu .submenu-arrow {
  border: solid #4e4a4a;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2.5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 20px;
  top: 17px;
}

#topnav .has-submenu.active .submenu li.active > a {
  color: #86bc42;
}

#topnav .has-submenu.active a {
  color: #86bc42;
}

#topnav .has-submenu.active .menu-arrow {
  border-color: #86bc42;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  margin: 28px auto;
  height: 15px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  margin-bottom: 5px;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle.open span {
  position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
  visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
  width: 100%;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#topnav .navbar-toggle.open span:hover {
  background-color: #86bc42;
}

#topnav .navbar-toggle:hover, #topnav .navbar-toggle:focus {
  background-color: transparent;
}

#topnav .blog-home-nav {
  float: left !important;
}

.menu-arrow {
  border: solid #4e4a4a;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: -1px;
  top: 30px;
}

/* Search */
.search-bar {
  background-color: #f8f9fa !important;
  border: 2px solid #dee2e6 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px;
  height: 42px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-search {
  display: none;
}

.dropdown-menu {
  border: none;
  border-top: 2px solid #86bc42;
  border-radius: 0px;
}

.dropdown-menu-search {
  width: 270px;
  padding: 15px;
}

.noti-icon {
  font-size: 12px !important;
}

.navigation-menu .dropdown-toggle::after {
  display: none;
}

.navbar-sticky.small.small {
  top: 0px !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-sticky {
  background-color: #ffffff;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: #ffffff;
  width: 320px;
  position: relative;
  padding: 20px;
}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}

.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 14px;
}

.shopping-cart .shopping-cart-items .item-price {
  color: #86bc42;
  margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
  color: #4e4a4a;
  font-size: 14px;
}

.shop-cart {
  background-color: #86bc42;
  padding: 2px 3px;
  border-radius: 3px;
  color: #ffffff;
}

.cart-icon {
  color: #86bc42;
  font-size: 20px;
  margin-right: 7px;
  float: left;
}

.boxed-home {
  max-width: 1170px;
  margin: 0 auto;
}

.menu-search {
  padding: 16px 0;
  float: right;
}

.menu-search form {
  position: relative;
}

.menu-search .form-control {
  font-size: 13px;
  padding: 6px 12px;
  height: 38px;
  width: 270px;
}

.menu-search .form-control:focus {
  border: 1px solid #dee2e6;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-style {
  border-bottom: 1px solid #dee2e6;
}

.header-style img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-style img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 62px;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0;
  }
  #topnav .navigation-menu > li .last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  #topnav .logo-mobile {
    display: none;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 150px;
    display: inline-block;
    vertical-align: top;
  }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px;
  }
  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }
  #topnav .navigation-menu > li .submenu li ul {
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 20px;
    clear: both;
    white-space: nowrap;
    font-size: 13.5px;
    letter-spacing: 0.03em;
    color: #4e4a4a;
  }
  #topnav .navigation-menu > li .submenu li a:hover,
  #topnav .navigation-menu .has-submenu .submenu > li:hover > a {
    color: #86bc42;
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block !important;
  }
  #topnav .navigation-menu > li:hover > a {
    color: #86bc42 !important;
  }
  #topnav .navigation-menu > li:hover > .menu-arrow {
    border-color: #86bc42;
  }
  #topnav.scroll-active .navigation-menu > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #topnav.scroll .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #topnav.scroll {
    top: 0;
  }
}

@media (max-width: 991px) {
  .menu-arrow {
    top: 15px;
    right: 20px;
  }
  .menu-search {
    display: none;
  }
  .submenu-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .logo-mobile img {
    height: 20px;
    float: left;
    margin: 26px 0;
  }
  .logo {
    padding: 0 !important;
    line-height: 0;
  }
  #topnav .container {
    width: auto;
  }
  #topnav .blog-home-nav {
    float: none !important;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }
  #topnav .navigation-menu > li {
    float: none;
  }
  #topnav .navigation-menu > li > a {
    color: #4e4a4a;
    padding: 10px 20px;
  }
  #topnav .navigation-menu > li > a:hover {
    color: #86bc42;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 6px 15px;
    clear: both;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #4e4a4a;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #86bc42;
  }
  #topnav .navigation-menu > li .submenu.open {
    display: block !important;
  }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .has-submenu.open {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .has-submenu.open > a {
    color: #86bc42;
  }
  #topnav .navigation-menu > li .submenu .has-submenu.open > a .has-submenu.open > a {
    color: #86bc42;
  }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }
  #topnav .navigation-menu > li .submenu .megamenu > li > ul {
    list-style: none;
    padding-left: 0;
  }
  #topnav .navigation-menu > li .submenu .megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #4e4a4a;
  }
  #topnav .navigation-menu .menu-extras .menu-item .cart > a:hover, #topnav .navigation-menu .menu-extras .menu-item .search > a:hover {
    color: #86bc42;
  }
  #topnav .navbar-toggle span {
    background-color: #535353;
  }
  #topnav .navbar-header {
    float: left;
  }
  #topnav .logo {
    padding: 11px 0;
  }
  #topnav .logo .logo-light {
    display: none;
  }
  #topnav .logo .logo-dark {
    display: block;
  }
  #topnav .has-submenu.active a {
    color: #86bc42;
  }
  #navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
  }
  #navigation.open {
    display: block;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    border-top: 2px solid #86bc42;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
    border-top: 2px solid #86bc42;
  }
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 426px) {
  .taglines {
    top: 41px !important;
  }
}

@media (max-width: 425px) {
  .taglines {
    top: 0px !important;
  }
}

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .l-dark {
  display: none;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 6px 0;
  margin: 0 15px;
}

.navbar-custom .navbar-nav li:last-of-type > a {
  margin-right: 0;
}

.navbar-custom .navbar-nav li.active a {
  color: #86bc42 !important;
}

.navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:active {
  color: #86bc42 !important;
}

.navbar-custom .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  color: #ffffff;
  outline: 0;
}

.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.nav-social li a {
  color: #ffffff;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.logo {
  color: #ffffff !important;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #86bc42;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

/*---NAVBAR STICKY--*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 10px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #3d4044 !important;
  top: 0 !important;
}

.nav-sticky.navbar-custom .l-dark {
  display: inline-block;
}

.nav-sticky.navbar-custom .l-light {
  display: none;
}

.nav-sticky.navbar-custom .navbar-toggles {
  padding: .25rem .75rem;
  border: 1px solid transparent;
  outline: 0;
}

.nav-sticky.navbar-custom .sticky-dark {
  background-color: #3d4044;
}

.nav-sticky.navbar-custom .navbar-nav li a {
  color: #3d4044;
}

.nav-sticky.navbar-custom .sticky-dark {
  background-color: #ffffff;
}

.nav-sticky .navbar-nav {
  margin-top: 0px;
}

.nav-sticky .navbar-nav li a {
  color: #3d4044 !important;
}

.nav-sticky .navbar-brand {
  color: #3d4044 !important;
}

/*****Responsive*****/
@media (min-width: 200px) and (max-width: 768px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #535353 !important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
  }
  .navbar-custom .l-light {
    display: inline-block !important;
  }
  .navbar-custom .l-dark {
    display: none !important;
  }
  .navbar-custom .navbar-nav li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff !important;
    margin: 0px;
  }
  .navbar-custom .navbar-nav li.active a {
    border-color: transparent;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-nav {
    margin-top: 0px;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff !important;
  }
  .nav-sticky.navbar-custom .logo {
    color: #ffffff !important;
  }
}

.tagline {
  background: #1b263a;
  font-size: 13px;
  color: #ffffff !important;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.tagline .pull-left i {
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}

.tagline > .container-fluid {
  width: 90%;
}

.login {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  padding: 11px 0;
  font-size: 13px;
}

.login a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 10px;
}

.login a:hover {
  color: #86bc42;
}

.login i {
  margin-right: 8px;
}

.modal-open {
  padding-right: 0 !important;
}

.top_socials {
  margin-bottom: 0;
}

.top_socials li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  padding: 0;
  text-align: right;
}

.top_socials li a {
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  padding: 0px 10px;
}

.top_socials li:last-child a {
  padding-right: 0;
}

.top_socials li .facebook:hover, .blog-social li .facebook:hover {
  color: #3b5998 !important;
}

.top_socials li .twitter:hover, .blog-social li .twitter:hover {
  color: #1da1f2 !important;
}

.top_socials li .dribbble:hover, .blog-social li .dribbble:hover {
  color: #ea4c89 !important;
}

.top_socials li .instagram:hover, .blog-social li .instagram:hover {
  color: #cf328c !important;
}

.top_socials li .vimeo:hover, .blog-social li .vimeo:hover {
  color: #00adef !important;
}

.defaultscroll .container-fluid {
  width: 90% !important;
}

@media screen and (max-width: 425px) {
  .tagline {
    display: none;
  }
}

.section-title {
  z-index: 2;
  position: relative;
}

.section-title h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #4e4a4a;
  padding-bottom: 15px;
}

.section-title h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.section-title h6 {
  letter-spacing: 2px;
  color: #adb5bd;
  margin-bottom: 15px;
  font-family: "Crete Round", serif;
  display: block;
  margin: 0 0 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.section-title .line-bot {
  display: inline-block;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  margin: 15px 0 20px;
  background: #4e4a4a;
}

.section-subtitle-top {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #4e4a4a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.title-heading {
  line-height: 26px;
}

.title-heading h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.title-heading h2 {
  font-size: 24px;
  letter-spacing: 0.8px;
}

.title-heading h3 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}

.title-heading h4 {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.title-heading h4 span {
  position: relative;
  display: inline-block;
  padding: 5px 8px;
  margin-right: 5px;
  text-transform: uppercase;
}

.title-heading h4 span:last-of-type:after {
  content: "";
}

.title-heading p {
  margin-bottom: 30px;
  font-size: 17px;
  letter-spacing: 0.8px;
}

.f-50 {
  font-size: 50px !important;
}

.f-40 {
  font-size: 40px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-12 {
  font-size: 12px !important;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.spacer-15 {
  height: 15px;
}

.spacer-30 {
  height: 30px;
}

.spacer-45 {
  height: 45px;
}

.p-30 {
  padding: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.p-20 {
  padding: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-70 {
  padding-top: 70px;
}

@media (max-width: 1024px) {
  .title-heading h3 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .pt-110 {
    padding-top: 110px;
  }
  .title-heading h4 span:after {
    content: "|";
    position: absolute;
    top: 5px;
    left: 102%;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .sm-pt-70 {
    padding-top: 70px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .title-heading h1 {
    font-size: 26px;
  }
  .title-heading h2 {
    font-size: 20px;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #86bc42, #86bc42);
  z-index: 9999999;
}

#preloader #status {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#preloader #status .spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

#preloader #status .spinner .cube1, #preloader #status .spinner .cube2 {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

#preloader #status .spinner .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.bg-home {
  background-position: center center;
  height: 100vh;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.bg-agency {
  padding: 200px 0;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.bg-overlay {
  background-color: rgba(37, 41, 52, 0.6);
}

.bg-pages {
  padding: 151px 0 40px;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.bg-default {
  padding: 110px 0 40px;
  background-color: #f9f9f9;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.home-overlay-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-half {
  height: 85vh;
  background-position: center center;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.home-height {
  background-repeat: repeat;
  padding: 210px 0 140px;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.business-home-shape {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0;
}

.business-home-shape img {
  width: 100%;
  height: auto;
}

.home-business {
  position: relative;
}

.home-business .carousel-control-next,
.home-business .carousel-control-prev {
  width: 5%;
}

.home-business .carousel-item, .home-business .carousel {
  height: 100vh;
  width: 100%;
}

.home-business .carousel-item {
  background-position: center center;
  background-size: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 15px;
  height: 15px;
}

.bg-boxed-home {
  padding: 210px 0 150px;
  background-color: #1b263a;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

#sThemes-layout {
  background-image: url("../images/home/boxed.png");
}

#sThemes-layout .sThemesbox {
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1170px;
  margin: 0 auto;
}

/*****PARALLAX******/
.jarallax {
  height: 100vh;
}

.home-desk {
  z-index: 1;
  position: relative;
  top: 70px;
}

.landing-partners {
  margin-top: 60px;
}

.home-shape-bottom {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -1px;
  left: 0;
}

.home-shape-bottom img {
  width: 100%;
  height: auto;
}

.home-slider {
  position: relative;
}

.home-slider .carousel-control-next,
.home-slider .carousel-control-prev {
  width: 6%;
}

.home-slider .carousel-item, .home-slider .carousel {
  height: 80vh;
  width: 100%;
}

.home-slider .carousel-item {
  background-position: center center !important;
  background-size: cover !important;
}

.page-next-level h4 {
  font-size: 24px;
  color: #4e4a4a;
  font-weight: 600;
  letter-spacing: 1px;
}

.page-next-level .page-two a {
  color: #ffffff !important;
}

.page-next-level .page-next a {
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  padding-right: 8px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #4e4a4a;
}

.page-next-level .page-next a:hover {
  color: #86bc42 !important;
}

.page-next-level .page-next span {
  font-size: 15px;
  display: inline-block;
  font-weight: 500;
  padding-right: 8px;
  text-transform: capitalize;
  color: #86bc42;
}

.logo-box {
  text-align: center;
  padding: 15px 0 30px;
  line-height: 70px;
  margin-top: 70px;
  background-color: #ffffff;
}

.bg-video {
  background-image: url("../images/home/bg-resto.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.bg-slider {
  background-size: cover;
  height: 100vh;
  position: relative;
}

.flex-control-paging li a.flex-active {
  background: #86bc42;
  cursor: default;
  font-size: 17px;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flex-control-paging li a {
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flex-control-nav {
  display: none;
}

.clip-home {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

.bg-gym {
  background-color: #080806;
}

.swiper-slider-interior {
  height: 100vh;
  display: block;
  position: relative;
  z-index: 0;
}

.swiper-slider-interior .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-slider-interior .swiper-container .swiper-slide {
  overflow: hidden;
}

.swiper-slider-interior .swiper-container .swiper-slide .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.swiper-slider-interior .swiper-container .swiper-button-prev, .swiper-slider-interior .swiper-container .swiper-button-next {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #dee2e6;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-top: -30px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-slider-interior .swiper-container .swiper-button-prev:hover, .swiper-slider-interior .swiper-container .swiper-button-next:hover {
  background: #dee2e6;
}

.swiper-slider-interior .swiper-container .swiper-button-prev {
  left: 25px;
}

.swiper-slider-interior .swiper-container .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: #ffffff;
}

.swiper-slider-interior .swiper-container .swiper-button-next {
  right: 25px;
}

.swiper-slider-interior .swiper-container .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  color: #ffffff;
}

.swiper-slider-interior .swiper-pagination-bullet {
  font-size: 15px;
  color: #dee2e6;
  margin: 0 5px;
  opacity: 1;
  background: transparent;
  position: relative;
}

.swiper-slider-interior .swiper-pagination-bullet:before {
  content: "";
  background: #ffffff;
  width: 1px;
  height: 15px;
  position: absolute;
  left: 3px;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-slider-interior .swiper-pagination-bullet-active {
  color: #ffffff;
}

.swiper-slider-interior .swiper-pagination-bullet-active:before {
  opacity: 1;
  top: -20px;
}

.swiper-slider-interior .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-slider-interior .swiper-pagination-custom, .swiper-slider-interior .swiper-pagination-fraction {
  bottom: 45px;
}

.swiper-slider-interior .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 13px;
}

.error-page h1 {
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
  text-shadow: rgba(255, 255, 255, 0.1) 5px 5px, rgba(255, 255, 255, 0.1) 5px 5px, rgba(255, 255, 255, 0.1) 5px 5px;
}

.home-registration-form {
  background-color: #f8f9fa;
  border-radius: 7px;
}

.registration-form-box {
  position: relative;
}

.registration-form-box .selectize-input {
  padding: 9px 10px;
}

.registration-form-box i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12px;
  z-index: 2;
  background: #86bc42;
  -webkit-text-fill-color: transparent;
}

.registration-input-box {
  border: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px;
  height: 45px !important;
  padding: 6px 6px 6px 45px;
  border: 1px solid #dee2e6;
}

.datepicker td, .datepicker th {
  padding: 4px 6.5px;
  border-radius: 30px;
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#86bc42), to(#86bc42));
  background-image: linear-gradient(to bottom, #86bc42, #86bc42);
  color: #ffffff;
}

@media (max-width: 1200px) {
  .sThemesbox {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .swiper-slider-interior {
    height: 600px;
  }
  .swiper-slider-interior .swiper-button-prev, .swiper-slider-interior .swiper-button-next {
    display: none;
  }
  .logo-box {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .registration-form-box {
    margin-bottom: 10px;
  }
  .bg-slider, .bg-home, .swiper-slider-interior, .bg-half, .home-business .carousel-item, .bg-video {
    padding: 150px 0;
    height: auto;
  }
  .bg-agency {
    padding: 100px 0;
  }
  .bg-boxed-home {
    padding: 180px 0 120px;
  }
}

.features {
  padding: 20px;
}

.features i {
  font-size: 40px;
  color: #86bc42;
}

.feature-two .icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.agency-feature {
  position: relative;
  padding: 40px 20px;
  z-index: 2;
  border: 1px solid #f8f9fa;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #ffffff;
  margin: -260px 0 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agency-feature .icon i {
  font-size: 35px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.agency-feature .heading h4 {
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.agency-feature:hover {
  border-color: #86bc42;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.agency-feature:hover .icon i {
  color: #86bc42;
}

.agency-feature-two {
  margin: 30px 0;
}

@media screen and (max-width: 767px) {
  .agency-feature {
    margin: 0 0 30px;
  }
}

.about-barber .bar-icon {
  font-size: 30px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.construct-about img {
  -webkit-box-shadow: -30px -30px 0px -5px #86bc42;
  box-shadow: -30px -30px 0px -5px #86bc42;
}

.about-interior img {
  border: 13px solid #e9ecef;
}

.about-personal {
  line-height: 35px;
}

.about-personal .title-head {
  max-width: 120px;
  width: 100%;
  display: inline-block;
}

.about-personal .title-head ul li {
  font-size: 16px;
}

.bg-counter {
  background: url("../images/bg-counter.jpg") fixed center center;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 50px 0;
}

.bg-counter .counter-funfact .counter-value {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.bg-counter .counter-funfact .counter-icon {
  font-size: 40px;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.bg-counter .counter-funfact .counter-name {
  font-size: 18px;
  color: #ffffff;
}

.funfact-bottom:after, .funfact-top:after, .process-arrow:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 32px;
  top: 150px;
  left: 70%;
  background: url("../images/counter-bottom.png") center center no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.funfact-top:after, .process-arrow:after {
  top: 50px;
  background: url("../images/counter-top.png") center center no-repeat;
}

.custom-control-input:checked ~ .custom-control-label:before {
  color: #ffffff;
  border-color: #86bc42;
  background-color: #86bc42;
}

@media (min-width: 200px) and (max-width: 768px) {
  .funfact-bottom:after, .funfact-top:after, .process-arrow:after {
    display: none;
  }
}

.services h4 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services:hover h4 {
  color: #86bc42;
}

.services i {
  font-size: 30px;
  margin-bottom: 20px;
}

.services-three {
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services-three:hover {
  background-color: #ffffff;
  border: 2px solid #86bc42;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-services, .services-four, .services-five, .barber-service {
  margin-bottom: 30px;
}

.main-services {
  padding: 30px 20px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-services .icons {
  font-size: 30px;
  float: left;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-services .services-heading {
  overflow: hidden;
}

.main-services .services-heading h4 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-services:hover {
  border-bottom: 1px solid #86bc42;
  background-color: #ffffff;
}

.main-services:hover .icons {
  color: #86bc42;
  margin-top: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main-services:hover .services-heading h4 {
  color: #86bc42;
}

.services-four {
  padding: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services-four .icons i {
  font-size: 26px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  color: #6c757d;
  background-color: #f8f9fa;
  text-align: center;
  margin-bottom: 20px;
}

.services-four .icons img {
  width: 35px;
  margin-bottom: 30px;
}

.services-four .services-heading h4 {
  margin-bottom: 15px;
}

.services-four .services-heading i {
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
  font-size: 120px;
  -webkit-text-stroke: 1px #86bc42;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.services-four:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-four:hover .services-heading i, .services-four:hover .services-heading img {
  opacity: 0.2;
}

.barber-service {
  border: 1px dashed #f8f9fa;
  padding: 20px;
}

.construction-img {
  border: 15px solid #86bc42;
}

.services-five {
  padding: 20px;
  text-align: center;
}

.services-five .serv-img img {
  width: 40px;
  margin-bottom: 25px;
}

.services-five h4 {
  text-transform: capitalize;
}

.services-6 {
  border: 2px solid #e9ecef;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 40px 20px;
  text-align: center;
}

.services-6 img {
  width: 40px;
  margin-bottom: 20px;
}

.services-6:hover {
  border: 2px solid #86bc42;
}

.container-filter {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
}

.container-filter li {
  list-style: none;
  display: inline-block;
  margin-bottom: 15px;
}

.container-filter li .folio-name {
  color: #ffffff;
}

.container-filter li a {
  display: block;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #e9ecef;
  color: #4e4a4a !important;
  padding: 0px 14px;
  margin: 0px 4px;
  font-weight: 500;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-filter li a:hover, .container-filter li a.active {
  color: #ffffff !important;
  background-color: #86bc42;
  border-radius: 3px;
  border: 1px solid #86bc42;
}

.portfolio-box {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-box .portfolio-overlay {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  top: 12px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #535353;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.portfolio-box .portfolio-bg-overlay, .portfolio-box .gallery-overlay {
  position: absolute;
  bottom: 115px;
  left: 12px;
  right: 12px;
  top: 12px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(40, 40, 46, 0.55);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.portfolio-box .portfolio-bg-overlay a i, .portfolio-box .gallery-overlay a i {
  position: absolute;
  font-size: 26px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  left: 0;
  right: 0;
}

.portfolio-box .gallery-overlay {
  bottom: 12px;
}

.portfolio-box:hover img {
  opacity: 0.85;
}

.portfolio-box:hover .portfolio-overlay {
  opacity: 0.6;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.portfolio-box:hover .portfolio-bg-overlay, .portfolio-box:hover .gallery-overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.portfolio-box .thumb {
  float: left;
  margin-right: 20px;
}

.portfolio-box .thumb img {
  width: 90px;
  border-radius: 50%;
  border: 5px solid #dee2e6;
}

.portfolio-box .menu-content {
  overflow: hidden;
}

.portfolio-box .menu-content h4 {
  margin-bottom: 3px;
  border-bottom: 1px dotted #dee2e6;
  padding-bottom: 5px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px;
}

.portfolio-box .menu-content h4 a {
  color: inherit;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-box .menu-content h4:hover {
  color: #86bc42;
}

.portfolio-box .menu-content h4 span {
  float: right;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-box .portfolio-box-img {
  position: relative;
  overflow: hidden;
}

.portfolio-box .portfolio-box-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.portfolio-box .portfolio-box-img > img {
  -webkit-transition: all 0.7s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  border-radius: 0;
}

.portfolio-box .portfolio-box-detail {
  opacity: 0;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.portfolio-box .portfolio-box-detail h4 {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
}

.portfolio-box .portfolio-box-detail p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}

.portfolio-box:hover .portfolio-box-detail {
  z-index: 3;
  opacity: 1;
}

.portfolio-box:hover .portfolio-box-img:after {
  background: rgba(40, 40, 46, 0.55);
}

.portfolio-box:hover .portfolio-box-img > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-box:hover .gallary-title {
  background-color: #86bc42;
  color: #ffffff;
}

.portfolio-box:hover .gallary-title h6 a, .portfolio-box:hover .gallary-title span {
  color: #ffffff;
}

.gallary-title {
  padding: 25px 0;
  background: #f8f9fa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallary-title h3 {
  color: #4e4a4a;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.gallary-title span {
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.gallary-title a {
  color: #535353;
}

.gallary-title .gallary-title h6:hover a {
  color: #86bc42;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pro-info {
  padding: 25px;
  border: 2px solid #dee2e6;
  border-radius: 4px;
}

.pro-info i {
  font-size: 18px;
}

.pro-info .title-head {
  max-width: 130px;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
}

.testi-img {
  width: 100px;
}

.testi-content {
  color: #ffffff;
  overflow: hidden;
  padding: 0 20px;
}

.testi-content i {
  position: absolute;
  color: #adb5bd;
  font-size: 80px;
  top: 25px;
  left: 25px;
  opacity: 0.3;
}

.testi-content .resto-review {
  max-width: 600px;
}

.client-drow {
  min-height: 100%;
  padding: 25px;
  background-color: #f8f9fa;
  margin: 10px;
}

.client-name {
  color: #4e4a4a !important;
}

.client-name p {
  letter-spacing: 1px;
}

.client-name h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  -webkit-filter: Alpha Opacity=70;
  filter: Alpha Opacity=70;
  background-color: #86bc42;
  opacity: 0.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  width: 10px;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0);
}

.testi-heading .testi-box {
  background-color: #ffffff;
  border-top: 2px solid #86bc42;
  border-radius: 3px;
  padding: 26px 25px 0px;
  margin: 0px 15px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 91% 88%, 92% 100%, 87% 88%, 0 88%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 91% 88%, 92% 100%, 87% 88%, 0 88%);
  cursor: pointer;
}

.testi-heading .testi-box h4 {
  font-size: 16px;
  color: #86bc42;
}

.testi-heading .testi-box .quote-icon i {
  position: absolute;
  right: 40px;
  top: 0px;
  font-size: 140px;
  opacity: 0.2;
  color: #86bc42;
}

.testi-heading .client-img img {
  max-width: 80px;
}

.testi-heading .clients-name .after-border {
  position: absolute;
  border-bottom: 1px solid #86bc42;
  height: 1px;
  width: 40px;
  margin-left: -50px;
  top: 10px;
}

.review-star {
  margin-top: 20px;
}

.review-star li i {
  font-size: 12px;
  color: #86bc42;
}

.clients-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.clients-box h3 {
  font-size: 18px;
  font-weight: 600;
  color: #86bc42;
}

.clients-box h3 span {
  font-size: 13px;
  font-weight: 400;
  color: #4e4a4a;
  margin-left: 10px;
}

.clients-box p {
  margin: 0;
}

.clients-box .star .icon {
  font-size: 13px;
  color: #86bc42;
  display: inline-block;
}

.clients-box .image img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

.slick-slider {
  overflow-x: hidden !important;
  cursor: pointer;
}

.resto-clients {
  padding: 0 40px;
}

@media (max-width: 768px) {
  .resto-clients {
    padding: 40px 30px;
  }
}

.work-process {
  display: block;
  padding: 20px;
}

.work-process i {
  height: 70px;
  width: 70px;
  line-height: 70px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  text-align: center;
  background-color: #f8f9fa;
  font-size: 25px;
  color: #4e4a4a;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work-process a h4 {
  display: block;
  font-weight: 600;
  color: #4e4a4a;
  letter-spacing: 1px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.work-process:hover i, .work-process:hover a h4 {
  color: #86bc42;
}

.work-process:hover i {
  border-color: #86bc42;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.process-arrow:after {
  top: 40px;
  background: url("../images/process.png") center center no-repeat;
}

.app-work {
  padding: 0 20px 0 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.app-work .icons {
  font-size: 35px;
  float: left;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px dashed #dee2e6;
  border-radius: 50%;
}

.app-work .services-heading {
  overflow: hidden;
}

.app-work .services-heading h4 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.app-work:hover {
  background-color: #ffffff;
}

.app-work:hover .icons {
  color: #86bc42;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  background-color: #f8f9fa;
}

.app-work:hover .services-heading h4 {
  color: #86bc42;
}

.price-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-box .price-body .price-inner {
  padding-bottom: 30px;
}

.price-box .price-body .price-inner .price-title {
  padding: 30px;
  margin-bottom: 0;
  letter-spacing: 1px;
  background: #f8f9fa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price-box .price-body .price-inner .price {
  padding: 30px;
  line-height: 1;
  color: #4e4a4a;
  border-bottom: 1px solid #dee2e6;
}

.price-box .price-body .price-inner .price-footer {
  padding: 0 30px;
}

.price-box .price-body .price-features {
  padding: 30px;
}

.price-box .price-body .price-features ul {
  margin: 0 auto;
}

.price-box .price-body .price-features ul li {
  padding: 8px 0;
}

.price-box .optimal-price .price-inner .price-title {
  background: #86bc42;
  color: #ffffff;
}

.price-box:hover .price-inner .price-title {
  background: #86bc42;
  color: #ffffff;
}

@media (max-width: 768px) {
  .price-box {
    margin-bottom: 30px;
  }
}

.part-of-list {
  border: 2px solid #dee2e6;
  border-radius: 4px;
  padding: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.part-of-list .pricing-title {
  font-size: 20px;
  text-transform: uppercase;
}

.part-of-list .pricing-price {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}

.part-of-list .pricing-price span {
  margin: 0px 3px 5px 0;
  font-size: 24px;
  font-weight: 400;
}

.part-of-list .pricing-price .price-tenure {
  font-size: 15px;
  font-weight: 400;
  color: #4e4a4a;
  text-transform: lowercase;
}

.part-of-list li {
  margin-bottom: 15px;
}

.part-of-list li .icon {
  font-size: 30px;
  height: 80px;
  width: 80px;
  border: transparent;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: inline-block;
  line-height: 80px;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.part-of-list:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.part-of-list:hover .icon {
  background-color: #86bc42;
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.part-of-list:hover .check i {
  color: #027C00;
}

.part-of-list:hover .ban i {
  color: #D61929;
}

.bg-cta-img {
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-position: center center;
  background-attachment: fixed;
}

.bg-cta-img .cta_details {
  max-width: 635px;
  line-height: 2.0;
}

.project-video .play-icon {
  height: 80px;
  width: 80px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
  margin-top: 20px;
  border: 4px solid #ffffff;
}

.contruction-cta {
  max-width: 600px;
}

.contruction-cta h1 {
  font-size: 30px;
}

.watch-video-2 {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 41%;
  display: block;
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contruction-cta {
    max-width: 450px;
  }
  .contruction-cta h1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .contruction-cta {
    max-width: 500px;
    margin: 30px 0;
  }
}

.team-box {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 3px;
}

.team-box img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team-box img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-box .team-members-overlay {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(512px);
  transform: translateY(512px);
  background-color: #86bc42;
  z-index: 99;
}

.team-box:hover .team-members-overlay {
  opacity: 1;
  -webkit-transform: translateY(235px);
  transform: translateY(235px);
}

.team-box .team-social-overlay {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(450px);
  transform: translateX(450px);
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.team-box:hover .team-social-overlay {
  opacity: 1;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}

.team-box-img > img {
  width: 100%;
}

.team-icon {
  margin-top: 0.6rem;
}

.team-info {
  padding: 20px;
  position: relative;
  z-index: 99;
  color: #ffffff;
}

.team-info h3 {
  font-size: 16px;
}

.member-info h3, .team-list-content h3 {
  font-size: 16px;
}

.team-icon li a {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #ffffff !important;
  border: 1.4px solid #ffffff !important;
}

.contact-member li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #4e4a4a;
}

.member-pic img {
  border-color: #dee2e6;
}

.bar-team .team-list-content {
  padding: 30px 30px 0;
}

.bar-team .images {
  width: 50%;
  float: left;
}

.bar-team .team-list-content {
  width: 50%;
  float: right;
}

@media (min-width: 200px) and (max-width: 767px) {
  .bar-team .images, .bar-team .team-list-content {
    width: 100%;
    float: none;
  }
}

@media (min-width: 200px) and (max-width: 320px) {
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(276px);
    transform: translateY(276px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(245px);
    transform: translateX(245px);
  }
}

@media (min-width: 350px) and (max-width: 375px) {
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(346px);
    transform: translateY(346px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}

@media (min-width: 420px) and (max-width: 425px) {
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(410px);
    transform: translateY(410px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(412px);
    transform: translateY(412px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .team-box {
    margin-bottom: 30px;
  }
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(327px);
    transform: translateY(327px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .team-box:hover .team-members-overlay {
    -webkit-transform: translateY(176px);
    transform: translateY(176px);
  }
  .team-box:hover .team-social-overlay {
    -webkit-transform: translateX(165px);
    transform: translateX(165px);
  }
  .team-icon li a {
    height: 34px !important;
    line-height: 33px !important;
    width: 34px !important;
  }
  .team-icon li:last-child {
    display: none;
  }
}

.post {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post .post-preview {
  overflow: hidden;
}

.post .post-preview img {
  -webkit-transition: all 0.7s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  transition: all 0.7s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.post .post-preview img:hover {
  -webkit-transform: scale(1.05) rotate(1deg);
  transform: scale(1.05) rotate(1deg);
}

.post .post-head-content {
  padding: 25px;
}

.post .post-head-content .post-header {
  margin: 0 0 15px;
}

.post .post-head-content .post-header .post-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.post .post-head-content .post-header .post-title a {
  color: #4e4a4a;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.post .post-head-content .post-header .post-title a:hover {
  color: #86bc42 !important;
}

.post .post-head-content .post-header .shop-para {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .post-head-content .post-header .shop-para-2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.post .post-head-content .post-footer {
  padding: 0 0 20px 0;
}

.post .post-head-content .post-footer .post-more {
  float: right;
}

.post .post-head-content .post-footer .post-more a {
  font-size: 14px;
  color: #4e4a4a;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post .post-head-content .post-footer .post-more a:hover {
  color: #86bc42;
}

.post .post-head-content .post-footer .likes {
  float: left;
}

.post .post-meta a {
  color: #4e4a4a;
}

.post .post-meta a:hover, .post .post-meta a:focus {
  color: #86bc42;
  opacity: 1;
}

.post blockquote {
  color: #4e4a4a;
  background-color: #f8f9fa;
  border-left: 5px solid #86bc42;
  font-size: 16px;
  line-height: 26px;
  padding: 20px 30px 20px;
  margin: 15px 20px;
  border-radius: 5px;
}

.media-list .media img {
  width: 52px;
  height: 52px;
}

.media-list .media .media-body h4 {
  font-size: 16px;
}

.media-list .media .media-body h6 {
  font-size: 13px;
}

.media-list .media .media-body a {
  color: #4e4a4a;
}

.media-list .media .media-body p {
  line-height: 24px;
}

.blog-home-post-title h1 {
  margin: 15px 0;
}

.blog-home-post-title h1 a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-home-post-title h1 a:hover {
  color: #86bc42;
}

.post-date i {
  margin-right: 2px;
  opacity: 0.8;
}

.post-meta {
  padding: 0;
  margin: 0;
}

.post-meta > li {
  margin-right: 20px;
}

.post-meta > li .blog-tag {
  color: #ffffff;
}

.post-meta > li a {
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post-meta > li a:hover {
  color: #86bc42;
}

.post-meta > li:last-child {
  margin-right: 0;
}

.post-meta > li i {
  margin-right: 2px;
  opacity: 0.8;
}

/***Video & Audio***/
.video-app-box {
  border-radius: 3px;
}

.video-app-box iframe {
  width: 100%;
  height: 260px;
  border: none;
}

/***Sidebar***/
.sidebar {
  padding: 30px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.sidebar .widget_search form {
  position: relative;
}

.sidebar .widget_search .form-control:focus {
  border-color: #dee2e6;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidebar .widget .form-control {
  height: calc(2rem + 4px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
}

.sidebar .widget h4 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.sidebar .widget img {
  border-radius: 5px;
}

.sidebar .widget ul, .sidebar .widget ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .widget ul li:last-child, .sidebar .widget ol li:last-child {
  border: 0;
}

.sidebar .widget ul li a, .sidebar .widget ol li a {
  color: #4e4a4a;
}

.sidebar .widget ul li a:hover, .sidebar .widget ol li a:hover {
  color: #86bc42;
}

.sidebar .widget select {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-color: #dee2e6;
  padding: 12px 15px;
  height: 49px;
  font-size: 14px;
}

.sidebar .widget select:focus {
  border-color: #86bc42;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidebar .widget .widget_recent_entries_custom li {
  margin: 10px 0;
}

.sidebar .widget .widget_recent_entries_custom .wi {
  float: left;
  width: 64px;
}

.sidebar .widget .widget_recent_entries_custom .wb {
  padding-top: 2px;
  margin-left: 84px;
}

.sidebar .widget .widget_recent_entries_custom .wb .post-date {
  display: block;
  opacity: .8;
}

.sidebar .widget .widget-grid {
  overflow: hidden;
}

.sidebar .widget .widget-grid .item {
  position: relative;
  width: 33.33333333%;
  padding-top: 33.33333333%;
  float: left;
}

.sidebar .widget .widget-grid .item a {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  overflow: hidden;
}

.sidebar .widget .widget-grid .item a img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.sidebar .widget .widget-grid .item:nth-child(4) {
  clear: both;
}

.sidebar .widget .widget-grid .item:first-child {
  width: 66.66666666%;
  padding-top: 66.66666666%;
}

.sidebar .widget .tagcloud > a {
  background: #e9ecef;
  border-radius: 2px;
  font-weight: 500;
  color: #4e4a4a;
  display: inline-block;
  font-size: 9px;
  letter-spacing: 1px;
  margin: 5px 10px 5px 0;
  padding: 7px 8px 5px 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .widget .tagcloud > a:hover {
  background: #86bc42;
  color: #ffffff;
}

.sidebar .widget:last-child {
  border: 0;
  padding: 0;
}

.search-button {
  position: absolute;
  top: 0;
  height: 100%;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.search-buttonfocus, .search-button .active:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-button:hover {
  color: #86bc42;
}

.pagination > li > a {
  background-color: #ffffff;
  border-radius: 50%;
  color: #4e4a4a;
  border: 1px solid #dee2e6;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  margin-left: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination > li > a:hover, .pagination > li > a :focus {
  background: #86bc42 none repeat scroll 0 0;
  border-color: #86bc42;
  color: #ffffff;
}

.pagination .active > a {
  background: #86bc42 none repeat scroll 0 0;
  border-color: #86bc42;
  color: #ffffff;
}

.pagination .active > a:focus, .pagination .active > a:hover {
  background-color: #86bc42;
  border-color: #86bc42;
  color: #ffffff;
  cursor: pointer;
  z-index: 3;
}

.bar {
  margin: 15px 0;
  display: block;
  border-bottom: 1px dashed #ced4da;
}

.back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  line-height: 38px;
  display: none;
  text-align: center;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #4e4a4a;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.back-to-top i {
  color: #86bc42;
  font-size: 25px;
  display: block;
}

.back-to-top:hover {
  background-color: #86bc42;
}

.back-to-top:hover i {
  color: #ffffff;
}

.faq-content .card {
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 15px;
}

.faq-content .card .faq {
  position: relative;
}

.faq-content .card .faq .card-header {
  padding: 15px 22px;
}

.faq-content .card .faq .card-header h4 {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
}

.faq-content .card a.faq[data-toggle=collapse] {
  background-color: #ffffff;
  color: #4e4a4a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse]:before {
  content: '\f068';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-size: 12px;
  color: #4e4a4a;
  position: absolute;
  font-weight: 900;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq-content .card a.faq[data-toggle=collapse].collapsed {
  background-color: #ffffff;
  color: #4e4a4a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse].collapsed:before {
  content: '\f067';
  color: #4e4a4a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app {
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app .app-inner-cont {
  padding: 20px;
}

#app #intro-cont {
  background: #86bc42;
}

#app #intro-cont p, #app #intro-cont h1 {
  color: #ffffff;
}

#app #input-cont {
  padding: 20px;
}

#app #input-cont input[type=number], #app #input-cont select {
  width: 100%;
  margin: 3px 0;
  height: 50px;
  border-radius: 0px;
  border-bottom: 1px solid #dee2e6 !important;
  border: 0;
  font-size: 16px;
  padding: 0 12px;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app #input-cont input[type=number]:hover, #app #input-cont input[type=number]:focus, #app #input-cont select:hover, #app #input-cont select:focus {
  border-bottom: 1px solid #86bc42 !important;
}

#app #btn-calc {
  background: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  border: 1px solid #86bc42;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  color: #86bc42;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#app #btn-calc:hover {
  cursor: pointer;
  background-color: #86bc42;
  color: #ffffff;
}

#app #output-cont {
  color: #ffffff;
}

.table .thead-dark th {
  color: #ffffff;
  background-color: #86bc42;
  border: none;
  padding: 24px;
  font-weight: 500;
}

.table td {
  padding: 22px;
}

@media (max-width: 440px) {
  #btn-calc {
    width: 55%;
  }
}

.timeline-page {
  padding: 25px 0 0;
  position: relative;
}

.timeline-page:after {
  background-color: #ced4da !important;
  content: "";
  height: 95%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}

.timeline-page .timeline-item {
  margin-bottom: 30px;
}

.timeline-page .timeline-item .date-label-left, .timeline-page .timeline-item .duration-right {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  padding: 8px 24px;
  position: relative;
  text-align: left;
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
}

.timeline-page .timeline-item .date-label-left:after, .timeline-page .timeline-item .duration-right:after {
  border: 2px solid #4e4a4a;
  content: "";
  position: absolute;
  top: 5px;
  width: 10px;
  height: 10px;
  z-index: 1;
  background-color: #f8f9fa;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.timeline-page .timeline-item .date-label-left {
  float: right;
  margin-right: 15px;
}

.timeline-page .timeline-item .date-label-left:after {
  right: -36px;
}

.timeline-page .timeline-item .duration-right {
  float: left;
  margin-left: 15px;
}

.timeline-page .timeline-item .duration-right:after {
  left: -36px;
}

.timeline-page .timeline-item .event-description-right, .timeline-page .timeline-item .event-description-left {
  float: left;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 20px;
}

.timeline-page .timeline-item .event-description-right {
  text-align: left;
  margin-left: 15px;
}

.timeline-page .timeline-item .event-description-left {
  text-align: right;
  margin-right: 15px;
}

.timeline-page h4,
.event-description-left h4 {
  font-size: 18px;
  margin-top: 0;
  color: #4e4a4a !important;
  text-transform: capitalize;
}

@media only screen and (min-width: 250px) and (max-width: 767px) {
  .main-icon {
    margin: 0;
  }
  .timeline-page:after {
    margin: 0;
  }
  .timeline-item .duration {
    float: left !important;
    margin: 0 0 30px 15px !important;
    text-align: left !important;
    position: relative;
  }
  .timeline-item .duration:after {
    left: -20px !important;
  }
  .timeline-item .duration .event {
    text-align: left !important;
    margin-left: 15px;
  }
  .timeline-page .timeline-item .event-description-left {
    text-align: left;
    margin: 0 0 0 15px;
  }
}

#clock {
  color: #ffffff;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
}

#clock p {
  background: #4e4a4a;
  height: 88px;
  width: 88px;
  display: inline-block;
}

#clock p span {
  display: block;
  font-size: 36px;
  padding: 15px 0 10px;
  line-height: 30px;
}

#clock .space {
  color: #dee2e6;
  line-height: 1.7em;
  font-size: 50px;
  height: 88px;
  width: 30px;
  display: inline-block;
}

.coupon {
  color: #4e4a4a !important;
  font-size: 50px;
  font-weight: bold;
}

.multi_clock {
  border: 1px solid #dee2e6;
  color: #4e4a4a;
  float: left;
  margin: 10px;
  padding: 5px;
}

pre {
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  line-height: 1.4em;
  padding: 10px;
  margin: 0;
}

#countdown .count-down {
  display: inline-block;
  margin-top: 30px !important;
  margin: 20px;
  color: #4e4a4a;
}

#countdown .count-down .count-number {
  font-size: 40px;
  font-weight: 700;
}

#countdown .count-head {
  display: block;
}

.cart th {
  padding: 12px 15px !important;
  color: #4e4a4a;
}

.cart td {
  padding: 12px 15px !important;
  vertical-align: middle !important;
  border-color: #dee2e6 !important;
}

.cart td .remove {
  color: #D61929;
}

.cart .cart-product-thumbnail a {
  display: block;
  width: 68px;
}

.cart .cart-product-thumbnail img {
  display: block;
  width: 64px;
  height: 64px;
}

.cart .cart-product-name a {
  font-weight: 700;
  color: #4e4a4a;
}

.cart .cart-product-quantity .quantity {
  display: inline-block;
  margin: 0;
  float: none;
}

.progressbox {
  margin-bottom: 20px;
}

.progressbox .progresses {
  overflow: visible;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.progressbox .progresses .progresses-bar {
  position: relative;
  width: 30%;
  border: none;
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: #86bc42;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.progressbox .progresses .progresses-bar span {
  position: absolute;
  top: -23px;
  right: 0;
}

.progressbox .progresses-bar, .progressbox .progresses {
  height: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}

.progressbox .progress-value {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
}

.progressbox .progress {
  height: 10px;
}

.progressbox .progress .progress-bar {
  background: #4e4a4a;
  border-radius: 30px;
}

.alert {
  position: relative;
  padding: 13px 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  color: #f9f9f9;
}

.alert .alert-link {
  color: #ffffff;
}

.alert .alert-link:hover {
  color: #86bc42 !important;
}

.alert-primary, .badge-primary {
  background-color: #1A71DB;
}

.alert-secondary, .badge-secondary {
  background-color: #78768E;
}

.alert-success, .badge-success {
  background-color: #027C00;
}

.alert-danger, .badge-danger {
  background-color: #D61929;
}

.alert-warning, .badge-warning {
  background-color: #E0BF2F;
}

.alert-info, .badge-info {
  background-color: #10A7C9;
}

.alert-light, .badge-light {
  background-color: #f9f9f9;
}

.alert-dark, .badge-dark {
  background-color: #3d4044;
  color: #f9f9f9;
}

.dropcap {
  position: relative;
  top: 4px;
  float: left;
  margin-right: 10px;
  padding: 0;
  line-height: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.d-colored {
  color: #86bc42;
}

.d-boxed, .d-rounded {
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: #86bc42;
  color: #ffffff;
  text-align: center;
}

.d-rounded {
  border-radius: 50%;
}

.divider-ex {
  position: relative;
  overflow: hidden;
  margin: 35px 0;
  color: #4e4a4a;
  width: 100%;
}

.divider-ex i {
  position: relative;
  width: 18px;
  height: 18px;
  line-height: 1;
  font-size: 22px !important;
  text-align: center;
}

.divider-ex.divider-ex-right {
  text-align: right;
}

.divider-ex.divider-ex-right:after {
  left: auto;
  right: 40px;
}

.divider-ex.divider-ex-center {
  text-align: center;
}

.divider-ex.divider-ex-center:before {
  left: -50% !important;
  right: 0;
  margin-left: -30px;
}

.divider-ex.divider-ex-center:after {
  left: 50% !important;
  right: 0;
  margin-left: 30px;
}

.divider-ex.divider-ex-center:before, .divider-ex:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 10px;
  left: 40px;
  height: 0;
  border-top: 1px solid #dee2e6;
}

.divider-half-left:after, .divider-half-right:after {
  width: 50% !important;
}

.lead {
  font-size: 20px;
  font-weight: 400;
  color: #707070;
}

.img-rounded {
  border-radius: 10px;
}

.border-image {
  border: 3px solid #dee2e6;
}

.icon-boxes, .icon-boxes-two, .icon-boxes-three, .icon-boxes-four, .icon-boxes-five {
  padding: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
}

.icon-boxes i, .icon-boxes-two i, .icon-boxes-three i, .icon-boxes-four i, .icon-boxes-five i {
  font-size: 45px;
}

.icon-boxes-three, .icon-boxes-four, .icon-boxes-five, .icon-boxes-two:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-boxes {
  border: 1px solid #dee2e6;
}

.icon-boxes i {
  margin-bottom: 15px;
}

.icon-boxes-four:hover i, .icon-boxes-five i {
  color: #ffffff;
  background-color: #86bc42;
  border: 1px solid #86bc42;
}

.icon-boxes-four i, .icon-boxes-five i {
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-boxes-two i {
  float: left;
  margin-right: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-boxes-two .heading {
  display: block;
  overflow: hidden;
}

.icon-boxes-two:hover i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-boxes-three i {
  float: right;
  margin-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-boxes-three .heading {
  display: block;
  overflow: hidden;
  text-align: right;
}

.icon-boxes-three:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.icon-boxes-three:hover i {
  margin-top: 40px;
  color: #86bc42;
}

.icon-boxes-four {
  border: 2px solid #e9ecef;
  text-align: center;
}

.icon-boxes-four i {
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.icon-boxes-four:hover {
  border-color: #86bc42;
}

.icon-boxes-five {
  border: 2px solid #e9ecef;
  text-align: center;
}

.icon-boxes-five:hover i {
  color: #4e4a4a;
  background-color: #ffffff;
  border-color: #dee2e6;
}

.icon-flip-box-top, .icon-flip-box-right, .icon-flip-box-bottom, .icon-flip-box-left {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.icon-flip-box-top .icon-front-flip,
.icon-flip-box-top .icon-back-flip, .icon-flip-box-right .icon-front-flip,
.icon-flip-box-right .icon-back-flip, .icon-flip-box-bottom .icon-front-flip,
.icon-flip-box-bottom .icon-back-flip, .icon-flip-box-left .icon-front-flip,
.icon-flip-box-left .icon-back-flip {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-flip-box-top .icon-front-flip, .icon-flip-box-right .icon-front-flip, .icon-flip-box-bottom .icon-front-flip, .icon-flip-box-left .icon-front-flip {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 218px;
  border-radius: 3px;
}

.icon-flip-box-top .icon-back-flip, .icon-flip-box-right .icon-back-flip, .icon-flip-box-bottom .icon-back-flip, .icon-flip-box-left .icon-back-flip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  min-height: 218px;
  border-radius: 3px;
}

.icon-flip-box-top .icon-back-flip i, .icon-flip-box-right .icon-back-flip i, .icon-flip-box-bottom .icon-back-flip i, .icon-flip-box-left .icon-back-flip i {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  right: 0;
  left: 0;
}

.icon-flip-box-top:hover .icon-front-flip {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.icon-flip-box-top:hover .icon-back-flip {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.icon-flip-box-right .icon-back-flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon-flip-box-right:hover .icon-front-flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.icon-flip-box-right:hover .icon-back-flip {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.icon-flip-box-bottom .icon-back-flip {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.icon-flip-box-bottom:hover .icon-front-flip {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.icon-flip-box-bottom:hover .icon-back-flip {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.icon-flip-box-left .icon-back-flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.icon-flip-box-left:hover .icon-front-flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon-flip-box-left:hover .icon-back-flip {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.icon-list-demo div {
  cursor: pointer;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4e4a4a;
  font-size: 14px;
}

.icon-list-demo div i {
  display: inline-block;
  font-size: 20px;
  margin: 0;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  vertical-align: middle;
  width: 40px;
}

.icon-list-demo div:hover {
  color: #86bc42;
}

.icon-list-demo div:hover i {
  font-size: 30px;
}

.badge {
  display: inline-block;
  padding: 2px 3px;
}

.badge-custom {
  font-size: 10px;
  color: #ffffff;
  background-color: #86bc42;
}

.bg-primary {
  background-color: #1A71DB;
}

.bg-secondary {
  background-color: #78768E;
}

.bg-success {
  background-color: #027C00;
}

.bg-info {
  background-color: #10A7C9;
}

.bg-warning {
  background-color: #E0BF2F;
}

.bg-light {
  background-color: #f9f9f9;
}

.bg-dark {
  background-color: #3d4044;
}

.text-primary {
  color: #1A71DB;
}

.text-secondary {
  color: #78768E;
}

.text-success {
  color: #027C00;
}

.text-info {
  color: #10A7C9;
}

.text-warning {
  color: #E0BF2F;
}

.text-light {
  color: #f9f9f9;
}

.text-dark {
  color: #3d4044;
}

.contact-form {
  background: #e9ecef;
  border: 1px solid #dee2e6;
  overflow: hidden;
}

.contact-form h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-form .send {
  display: inline-block;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.form-group .form-control {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border: 1px solid #dee2e6;
  width: 100%;
  font-size: 14px;
  color: #4e4a4a;
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-group .form-control:hover, .form-group .form-control:focus {
  border-bottom: 1px solid #86bc42;
}

.form-group .form-control.form-xl {
  height: 55px;
  border: 1px solid #dee2e6;
  font-size: 16px;
  border-bottom: 2px solid #dee2e6;
}

.form-group textarea .form-control {
  height: 100px;
}

.form-group textarea .form-control.form-xl {
  height: 170px;
}

.form-group textarea:focus:not([readonly]) + span.input-focus-effect, .form-group select:focus:not([readonly]) + span.input-focus-effect, .form-group input:focus:not([readonly]) + span.input-focus-effect {
  width: 100% !important;
}

.form-group .input-focus-effect {
  width: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  height: 2px;
}

.contact-details {
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.contact-details .contact-icon {
  position: absolute;
  right: 0;
  left: 0;
  top: -15px;
  z-index: 2;
}

.contact-details .contact-icon i {
  font-size: 30px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-top: 1px solid #dee2e6;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-details .contact-head .info-title {
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-details:hover i {
  color: #86bc42;
}

.contact-details:hover .info-title {
  color: #86bc42;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #D61929;
}

#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #D61929;
  color: #D61929;
  border-radius: 5px;
  font-size: 14px;
}

.contact-loader {
  display: none;
}

#success_page {
  text-align: center;
  margin-bottom: 50px;
}

#success_page h3 {
  color: #027C00;
  font-size: 22px;
}

.consulting-form {
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .contact-details .contact-icon {
    top: 5px;
  }
  .contact-details .contact-icon i {
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
  .contact-details .contact-head {
    margin-top: 0px;
  }
}

.footer {
  padding-top: 60px;
  position: relative;
  background-color: #3d4044;
}

.footer h4 {
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.footer .foot-subscribe .form-control {
  background-color: #55585d;
  border: 1px solid #55585d;
  color: #e9ecef;
}

.footer .footer-list {
  margin: 0;
}

.footer .footer-list li {
  list-style-type: none;
  padding: 6px 0;
}

.footer .footer-list li a {
  font-size: 15px;
  color: #adb5bd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footer-list li a:hover {
  color: #86bc42;
}

.footer .footer-list li:first-child {
  padding-top: 0;
}

.footer .footer-recent {
  margin: 15px 0;
}

.footer .footer-bar {
  padding-bottom: 30px;
  text-align: center;
  background: #3d4044;
  color: #adb5bd;
}

.no-margin-top {
  margin-top: 0 !important;
}

.footer-recent-thumb {
  float: left;
  width: 25%;
}

.footer-recent-content {
  float: left;
  width: 75%;
  padding-left: 10px;
}

.footer-recent-content a {
  display: block;
  color: #adb5bd;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin-top: -5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-recent-content a:hover {
  color: #86bc42;
}

.footer-recent-content span {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}

.footer-social-icon li a, .team-icon li a {
  background-color: transparent !important;
  font-size: 15px;
  border-radius: 50%;
  color: #adb5bd;
  border: 1.4px solid #adb5bd;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  text-align: center;
  width: 36px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50px;
}

.footer-social-icon li .facebook:hover, .footer-social-icon li .twitter:hover, .footer-social-icon li .dribbble:hover, .footer-social-icon li .instagram:hover, .footer-social-icon li .vimeo:hover, .team-icon li .facebook:hover, .team-icon li .twitter:hover, .team-icon li .dribbble:hover, .team-icon li .instagram:hover, .team-icon li .vimeo:hover {
  color: #ffffff !important;
}

.footer-social-icon li .facebook:hover, .team-icon li .facebook:hover {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}

.footer-social-icon li .twitter:hover, .team-icon li .twitter:hover {
  background-color: #1da1f2 !important;
  border-color: #1da1f2 !important;
}

.footer-social-icon li .dribbble:hover, .team-icon li .dribbble:hover {
  background-color: #ea4c89 !important;
  border-color: #ea4c89 !important;
}

.footer-social-icon li .instagram:hover, .team-icon li .instagram:hover {
  background-color: #cf328c !important;
  border-color: #cf328c !important;
}

.footer-social-icon li .vimeo:hover, .team-icon li .vimeo:hover {
  background-color: #00adef !important;
  border-color: #00adef !important;
}

.footer-subscribe {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.footer-subscribe input {
  background: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  border: 0px solid;
  height: 40px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px 110px 5px 10px;
  margin-bottom: 0;
}

.footer-subscribe .btns {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 15px;
  text-align: center;
  padding: 12px 15px;
  z-index: 9999;
  background: #86bc42;
  color: #ffffff;
  cursor: pointer;
}

.footer-subscribe .btns span {
  color: #ffffff;
  z-index: 9;
  position: relative;
}

.footer-subscribe .btns:hover {
  background-color: #ffffff;
}

.footer-subscribe .btns:hover span {
  color: #86bc42;
}

.footer-two .copy-rights, .footer-alt .copy-rights, .footer-three .copy-rights {
  color: #adb5bd;
}

.footer-three {
  padding: 15px 0;
  position: relative;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-alt {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

@media (min-width: 200px) and (max-width: 767px) {
  .footer-two, .footer-three {
    text-align: center;
  }
  .footer-three {
    padding: 40px 0 30px;
  }
}
